body {
    font-family: 'Nunito', sans-serif;
}

.cabeceraChat{
    color:rgb(255, 255, 255);
    background-color: rgba(153, 152, 154, 0.495);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 0.5em 0;
}

#chat-container {
    max-width: 600px;
    height: 600px;
    margin: 6em auto;
    box-shadow: 1px 3px 5px rgba(0,0,0,.5);
    border-radius: 20px;
}

#chat-window {
    height: 430px;
    padding: 14px 0;
    margin: 1em 2em;
    color: rgb(29, 29, 29);
}

.mensaje {
    background-color: rgb(236, 236, 236);
    border-radius: 30px;
    padding: 0 1.5em;

}

#output {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    color: rgb(67, 67, 67);
}

#output p {
    max-width: 300px;
    padding: 1em 1em;
    border: 1px solid #929292;
    border-radius: 20px;
    padding: 1em 1em;
}
.messageButton {
    padding-bottom: 1em;
}

#actions span {
    margin: 0 20px;
    color: rgb(255, 6, 6);
}

input {
    padding: 10px 40px;
    box-sizing: border-box;
    border: 0;
    background-color: #eee;
    display: block;
    width: 100%;
}

.sendMessage {
    background-color: #575ed8;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
}